#Test Files
example-run.js
example
exampleTwo
exampleThree
exampleArtisan
exampleArtisanTwo
artisan-example-run*
legacy-example-run*
exampleSOAP*

#Test Files
test
Gruntfile.js


# Credentials
dummycredentials.json
aws.json
