#Git
.git*

#Docs
docs

#Test Files
example-run.js
example
exampleTwo
exampleThree
exampleTrigger
exampleArtisan
exampleArtisanTwo
artisan-example-run*
legacy-example*
exampleSOAP*
runTest

#Test Files
test
Gruntfile.js


# Credentials
dummycredentials.json
aws.json

# Other
.DS_Store
.eslint*
