<% _.each(connectors, function (connector) { %>

<h2><% if ((connector.tags || []).indexOf('trigger') !== -1) { %>Trigger Configuration<% } else { %>Configuration<% } %></h2>
<table class="table-striped">
	<tbody>
		<tr>
			<th style="width: 25%">
				Operation
			</th>
			<th>
				Description
			</th>
		</tr>

		<% _.each(connector.messages, function (message) { %>
		<tr>
			<td>
				<em><%= message.title %></em>
			</td>
			<td>
				<%= message.description || '' %>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>

<% }) %>
